$className: 'digital-insights';

.#{$className} {
  width: 100%;
  height: auto;
  padding-bottom: $spacing-lg;

  &__header {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: $spacing-rg;

    &__title {
      @include fontSize("heading-xl");
      display: inline-block;
    }

    &__btn-filter {
      @include font-size-rem(2.0, 2.5);
      position: absolute;
      top: 50%;
      right: 0;
      display: flex;
      align-items: center;
      padding-right: 5px;
      transform: translateY(-50%);

      & .icon {
        width: 10px;
        height: 17px;
        margin-left: $spacing-xs * 1.5;
        transform: rotate(90deg);

        & svg {
          fill: $color-blue;
        }
      }
    }

    &__filter-list {
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 1;
      width: 350px;
      height: auto;
      padding: $spacing-sm;
      background-color: $color-white;
      transform-origin: 100% 0;
      transform: scale(0);
      transition: transform cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;

      &.active {
        transform: scale(1);
      }

      &__item {
        
        &:not(:first-of-type) {
          margin-top: $spacing-xs;
        }
      }
    }
  }

  // TODO: Consider abstracting to individual organism
  &__block-grid {
    display: grid;
    grid-template-areas:
      "block1"
      "block2"
      "block3"
      "block4"
      "block5";
    grid-template-columns: repeat(auto, 1fr);
    grid-template-columns: repeat(auto, 1fr);
    width: 100%;
    height: auto;

    @media only screen and (min-width: $screen-sm-min) {
      grid-template-areas:
        "block1 block2"
        "block3 block3"
        "block4 block5";
    }

    @media only screen and (min-width: $screen-md-min) {
      grid-template-areas:
      "block1 block2 block3"
      "block4 block2 block5";
      grid-template-columns: 1fr 2fr 1fr;
    }

    &__block {
      overflow: hidden;
      position: relative;
      min-height: 300px;
      color: $color-white;

      // Set up block grid areas
      &:nth-of-type(1) {
        grid-area: block1;
      }
      &:nth-of-type(2) {
        grid-area: block2;
      }
      &:nth-of-type(3) {
        grid-area: block3;
      }
      &:nth-of-type(4) {
        grid-area: block4;
      }
      &:nth-of-type(5) {
        grid-area: block5;
      }

      // Gradient behind the title
      &:after {
        @include absolute($bottom: 0, $left: 0);
        z-index: -1;
        content: "";
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to top, $color-offblack, rgba(0,0,0,0));
      }

      // Hover & Focus styles
      &:hover,
      &:focus,
      &:focus-within {
        .#{$className}__block-grid__block__title {
          opacity: 0;
        }

        .#{$className}__block-grid__block__content {
          transform: translateY(0);
        }
      }

      // Block title
      &__title {
        @include fontSize("heading-sm");
        position: absolute;
        bottom: $spacing-xs * 1.5;
        left: $spacing-xs;
        width: 90%;
        font-weight: bold;
        transition: opacity ease 0.3s;
      }

      // Block image
      &__img {
        @include absolute($top: 0, $left: 0);
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // Bock Content
      &__content {
        @include absolute;
        display: block;
        width: 100%;
        height: 100%;
        padding: $spacing-rg ($spacing-sm * 1.5);
        background-color: change-color($color-offblack, $alpha: 0.95);
        transform: translateY(100%);
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.75s;

        &__teaser-copy {
          font-family: $font-sentinel-book;
        }

        &__link {
          @include fontSize("body");
          display: inline-block;
          margin-top: $spacing-sm * 1.5;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}