@mixin navBlockAccent($color: #ff0000) {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $color;
    transform: translateY(-97%);
    transition: transform ease 0.3s;
  }

  &:hover,
  &:focus {
    color: $color-white;

    &:after {
      transform: translateY(0);
    }

    & .icon svg {
      fill: $color-white;
    }
  }
}

.navigation-block {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 25px $spacing-sm;
  background-color: #F0F0F0;
  outline: 0;

  @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title,
  & .icon {
    position: relative;
    z-index: 2;
    float: left;

    @media only screen and (min-width: $screen-sm-min) {
      float: none;
    }
  }

  & .icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;

    & svg {
      fill: #aaa; // TODO: Make/get variable
    }
  }

  &__title {
    @include font-size-rem(2.0, 2.5);
    flex-shrink: 0;
    flex-basis: 75%;
    margin-left: 5%;
    
    @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-top: $spacing-sm;
      margin-left: 0;
    }
  }

  /**
   * Various accent colors
   */
  &.color-brandBlue {
    @include navBlockAccent($color-blue);
  }
  &.color-brandGreen {
    @include navBlockAccent($color-green);
  }
  &.color-brandOrange {
    @include navBlockAccent($color-orange);
  }
  &.color-brandRed {
    @include navBlockAccent($color-red);
  }
}