.footer {
  height: auto;
  padding-bottom: 75px;
  background-color: $color-grey-dark;
  color: $color-white;

  &__cont {
    @include container;
  }

  &__nav {
    background-color: $color-grey;

    &__link {
      display: block;
      padding: $spacing-sm;
      border-bottom: 1px solid $color-grey-dark;

      @media only screen and (min-width: $screen-md-min) {
        float: left;
        border-bottom: none;
        border-right: 1px solid $color-grey-dark;
      }
    }

    &__social-links {
      display: flex;
      padding: $spacing-sm;

      @media only screen and (min-width: $screen-md-min) {
        justify-content: center;
      }

      &__link {
        flex-shrink: 0;
        display: inline-block;
        width: 20px;
        height: 20px;

        &:not(:first-of-type) {
          margin-left: $spacing-sm * 1.5;
        }

        & svg {
          fill: $color-white;
        }
      }
    }
  }

  &__logo-link {
    position: relative;
    display: block;
    width: 240px;
    height: auto;
    margin-top: $spacing-rg;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: $screen-md-min) {
      clear: both;
      float: left;
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 100px;
      height: 1px;
      background-color: $color-grey;
      transform: translateX(-50%);

      @media only screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing-sm;

    @media only screen and (min-width: $screen-md-min) {
      margin-top: $spacing-rg;
      flex-direction: row;
    }
    
    & > span {
      display: none;
      color: $color-blue;
      @media only screen and (min-width: $screen-md-min) {
        display: inline-block;
        padding-right: $spacing-sm;
        padding-left: $spacing-sm;
      }
    }

    &__state,
    &__phone {
      margin-top: $spacing-xs;
      @media only screen and (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }

  &__copyright {
    @include font("small");
    margin-top: $spacing-rg;
    text-align: center;
  }

  & .clearfix {
    display: none;
    @media only screen and (min-width: $screen-md-min) {
      display: inline;
    }
  }
}