.footer {
  height: auto;
  padding-bottom: 75px;
  background-color: $color-grey-dark;
  color: $color-white;

  &__cont {
    @include container;
  }

  &__nav {
    background-color: $color-grey;

    &__link {
      display: block;
      padding: $spacing-sm;
      border-bottom: 1px solid $color-grey-dark;
    }

    &__social-links {
      display: flex;
      padding: $spacing-sm;

      &__link {
        display: inline-block;
        width: 26px;
        height: 26px;

        &:not(:first-of-type) {
          margin-left: $spacing-sm * 1.5;
        }

        & svg {
          fill: $color-white;
        }
      }
    }
  }

  &__logo-link {
    position: relative;
    display: block;
    width: 240px;
    height: auto;
    margin-top: $spacing-rg;
    margin-right: auto;
    margin-left: auto;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 100px;
      height: 1px;
      background-color: $color-grey;
      transform: translateX(-50%);
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing-sm;
    
    & > span {
      display: none;
      @media only screen and (min-width: $screen-md-min) {
        display: inline-block;
      }
    }

    &__state,
    &__phone {
      margin-top: $spacing-xs;
      @media only screen and (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }

  &__copyright {
    @include font("small");
    margin-top: $spacing-rg;
    text-align: center;
  }
}