/**
 * Fonts
 *
 * Import and set your @font-face rules here
 */
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// @font-face {
//   font-family: NameHere;
//   src: url("") format("woff"),
//     url("") format("opentype"),
//     url("") format("truetype");
// }

@font-face {
  font-family: SentinelBook;
  src: url("/assets/fonts/sentinel-book.ttf") format("truetype");
}

@font-face {
  font-family: SentinelLight;
  src: url("/assets/fonts/sentinel-light.ttf") format("truetype");
}

@font-face {
  font-family: SentinelSemibold;
  src: url("/assets/fonts/sentinel-semibold.ttf") format("truetype");
}

@font-face {
  font-family: SentinelBold;
  src: url("/assets/fonts/sentinel-bolg.ttf") format("truetype");
}