{# Params #}

{# Variables #}
{% set contactStreet = contactInfo.contactStreetAddress %}
{% set contactState = contactInfo.contactState %}
{% set contactPhone = contactInfo.contactPhone %}

{# Markup #}
<footer class='footer'>
  <div class='footer__cont'>
    <nav class='footer__nav' aria-label='Secondary Navigation'>
      <a href='' class='footer__nav__link'>
        Privacy Notice
        {% include '/components/_svg-icon' with {
          iconName: 'chevron-right'
        } %}
      </a>

      <a href='' class='footer__nav__link'>
        Contact
        {% include '/components/_svg-icon' with {
          iconName: 'chevron-right'
        } %}
      </a>

      <a href='' class='footer__nav__link'>
        Feedback
        {% include '/components/_svg-icon' with {
          iconName: 'chevron-right'
        } %}
      </a>

      <a href='' class='footer__nav__link'>
        Web Accessibility Assistance
        {% include '/components/_svg-icon' with {
          iconName: 'chevron-right'
        } %}
      </a>

      <a href='' class='footer__nav__link'>
        Site Information
        {% include '/components/_svg-icon' with {
          iconName: 'chevron-right'
        } %}
      </a>

      <section class='footer__nav__social-links'>
        <a href='https://facebook.com' target='_blank' rel='noopener noreferrer' class='footer__nav__social-links__link'>
          {% include 'components/_svg-icon' with {
            iconName: 'facebook'
          } %}
        </a>

        <a href='https://twitter.com' target='_blank' rel='noopener noreferrer' class='footer__nav__social-links__link'>
          {% include 'components/_svg-icon' with {
            iconName: 'twitter'
          } %}
        </a>

        <a href='https://instagram.com' target='_blank' rel='noopener noreferrer' class='footer__nav__social-links__link'>
          {% include 'components/_svg-icon' with {
            iconName: 'instagram'
          } %}
        </a>

        <a href='https://linkedin.com' target='_blank' rel='noopener noreferrer' class='footer__nav__social-links__link'>
          {% include 'components/_svg-icon' with {
            iconName: 'linkedin'
          } %}
        </a>
      </section>
    </nav>

    <div class='footer__content'>
      <a href="" class='footer__content__logo-link'>
        {% include 'components/_svg-icon' with {
          iconName: 'idhs-logo--text'
        } %}
      </a>
  
      <section class='footer__content__contact-info'>
        <address class='footer__content__contact-info__street'>
          {{ contactStreet }}
        </address>
        <span>|</span>
        <address class='footer__content__contact-info__state'>
          {{ contactState }}
        </address>
        <span>|</span>
        <p class='footer__content__contact-info__phone'>
          <a href='tel:{{ contactPhone }}'>
            {{ contactPhone }}
          </a>
        </p>
      </section>

      <p class='footer__content__copyright'>
        Copyright 2019. Institute of Digital Human Studies. <span class='nowrap'>All rights reserved.</span>
      </p>
    </div>
  </div>
</footer>