$className: 'page-404';

.#{$className} {
  padding-top: $spacing-lg;

  &__heading {
    @include fontSize("heading");
    font-weight: bold;
  }

  &__subheading {
    @include fontSize("heading-sm");
    color: $color-grey;
  }
}