{# Params #}

{# Variables #}

{% extends '_layout' %}

{# Markup #}
{% block content %}
<article class="news-page">
  <div class="news-page__container">
    <img src="{{ entry.image.one().url }}" alt="{{ entry.image.one().title }}" class="news-page__hero" />
  
    <h1 class='news-page__title'>
      {{ entry.title }}
    </h1>
    
    <p class="news-page__copy">
      {{ entry.copy }}
    </p>
  </div>
</article>
{% endblock %}