/**
 * Breakpoints
 * - These should typically stay the same unless the design is specific
 */
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-lg-min: 1250px;
$screen-md-max: $screen-lg-min - 1;
$screen-xl-min: 1500px;
$screen-lg-max: $screen-xl-min - 1;

/**
 * Spacing
 * - You can adjust these however you would like or the design requires
 */
$spacing-xs: 10px;
$spacing-sm: 20px;
$spacing-rg: 50px;
$spacing-lg: 100px;
$spacing-xl: 150px;

/**
 * Layout
 * - These are examples, you can create whatever
 * variables you would like or that the design requires
 */
$min-page-width: 320px; // This should always be 320px, minimum phone size
$max-page-width: 1900px; // This can be whatever you want (i.e. 1200px or 1440px)
$width-sm: 750px;
$width-rg: 1177px;
$width-lg: 1440px;
$max-width: 80%;
$gutter: 10%;

/**
 * Colors
 * - These are typically per the design
 */
$color-white: #ffffff;
$color-black: #000000;
$color-offwhite: #f2f2f2;
$color-grey: #999999;
$color-grey: #666666;
$color-grey-dark: #444444;
$color-grey-border: #BCBCBC;
$color-blue: #4675E0;
$color-green: #00BF90;
$color-orange: #FF6248;
$color-red: #CF2253;

/* Font */
$font-family-primary: Helvetica, Arial, sans-serif;
$font-sentinel-book: 'SentinelBook', Helvetica, sans-serif;
$font-regular: 400;
$font-bold: 700;