<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'meta/_index' %}
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  {% include 'components/layout/_header' %}

  <main class='main'>
    {% block content %}
    {% endblock %}
  </main>

  {% include 'components/layout/_footer' %}

  <script src='/scripts/index.js'></script>
</body>
</html>