{# Params #}
{% set block = block|default({}) %}

{# Markup #}
<a href='' class='navigation-block color-{{ block.accentColor.value }}'>
  {% include "components/_svg-icon" with {
    iconName: block.blockIcon.value
  } %}

  <p class='navigation-block__title'>
    {{ block.blockTitle }}
  </p>
</a>