{# Params #}
{% set block = block|default({}) %}
{% set tabIndex = tabIndex|default(0) %}

{# Markup #}
<a
  href=''
  class='navigation-block color-{{ block.accentColor.value }}'
  tabindex='{{ tabIndex }}'
>
  {% include "components/_svg-icon" with {
    iconName: block.blockIcon.value
  } %}

  <p class='navigation-block__title'>
    {{ block.blockTitle }}
  </p>
</a>