{# Params #}
{% set shiftDirection = shiftDirection|default('next') %}
{% set desiredColor = color|default('blue') %}

{# Variables #}
{% set desiredIcon = shiftDirection == 'next' ? 'right' : 'left' %}

{# Markup #}
<button class='shift-button--{{ desiredColor }} js-{{ shiftDirection }}'>
  {% include 'components/_svg-icon' with {
    iconName: 'chevron-' ~ desiredIcon
  } %}
</button>