{# Params #}
{% set iconName = iconName|default('') %}

{# Variables #}

{# Markup #}
<span class='icon'>
  <svg>
    <use href='/assets/images/svg/sprite.svg#icon-{{ iconName }}'></use>
  </svg>
</span>